
trigger:
- master
variables:
- group: uipath-cicd
- name: agent.preferPowerShellOnContainers
  value: 'True'

pool:
  vmImage: 'windows-latest'
container:
  image: uipathcicddemo.azurecr.io/renegadejediuipathdockerdevops:23
  endpoint: uipathcicddemo
steps:
- script: C:\UiPath\UiRobot.exe pack $(Build.SourcesDirectory)\project.json -o $(Build.ArtifactStagingDirectory)\ -v 1.0.$(Build.BuildNumber)
  displayName: 'Build the artifact'
- publish: $(Build.ArtifactStagingDirectory)
    echo $(Build.ArtifactStagingDirectory)
  artifact: drop

- script: |
    echo Add other tasks to build, test, and deploy your project.
  displayName: 'test'
